@import "skill";
@import "student-card";
@import "student-form";
@import "login";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
}
