.rubric {
  @include default-form;
  background-color: white;
  text-align: left;
  width: 70%;
  position: sticky;
  margin-top: 30px;
  top: 10px;
  z-index: 1;

  li {
    margin-left: 20px;
  }

  .divider {
    margin-left: 10px;
    margin-right: 10px;
  }

  .rubric-item-title {
    color: $bottega-green;
    margin-left: 10px;
  }
}
