.skill-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  background-color: $secondary-gray;
  z-index: 0;
  border-radius: 20px;

  .skill-bar-wrapper {
    position: relative;

    .skill-bar {
      height: 100%;
      background-color: $bottega-green;
      position: absolute;
      z-index: -1;
      border-radius: 20px;
    }

    .skill {
      padding: 0px;
    }
  }
}
