.titles {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .certification-list {
    ul {
      list-style-type: circle;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    h3 {
      text-align: center;
    }
  }
}

@media (max-width: 700px) {
  .titles {
    .certification-list {
      ul {
        display: block;
      }
    }
  }
}
